<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penduduk</title>
</head>

<body>
    <!-- Navbar Start -->
    <%- include ('../layouts/navbar.ejs') %>
        <!-- Navbar End -->

        <!--  Content Start -->
        <div class="card m-5">
            <div class="card-header">
                <a href="/createCitizen" role="button" class="btn btn-success m-2">Tambah Penduduk</a>
            </div>
            <div class="card-body m-2">
                <h3>List Of Penduduk</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">NIK</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Details</th>
                            <th scope="col">No KK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% penduduk.forEach(penduduk=> { %>
                            <tr>
                                <td>
                                    <%= penduduk.nik %>
                                </td>
                                <td>
                                    <%= penduduk.nama %>
                                </td>
                                <td>
                                    <p>
                                        <b>Alamat :</b>
                                        <%= penduduk.alamat %>
                                    </p>
                                    <p>
                                        <b>Tanggal Lahir :</b>
                                        <% const tgl_lahir=new Date(penduduk.tgl_lahir); %>
                                            <%= tgl_lahir.toLocaleString('id-ID', { day: 'numeric' , month: 'long' ,
                                                year: 'numeric' }) %>
                                    </p>
                                    <p>
                                        <b>Golongan Darah :</b>
                                        <%= penduduk.gol_darah %>
                                    </p>
                                    <p>
                                        <b>Status :</b>
                                        <%= penduduk.status %>
                                    </p>
                                </td>
                                <td>
                                    <%= penduduk.kartu_keluarga_id %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <!--  Content End -->
</body>

</html>