<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit KK</title>
</head>

<body>
    <!-- Navbar Start -->
    <%- include ('../layouts/navbar.ejs') %>
        <!-- Navbar End -->

        <!--  Content Start  -->
        <div class="card m-5">
            <div class="card-header">
                <h3>Edit Kartu Keluarga</h3>
            </div>
            <div class="card-body">
                <form action="/editKeluarga/<%= kartuKeluarga.id %>" method="post">
                    <div class="row mb-3">
                        <label for="id" class="col-sm-2 col-form-label"><b>ID</b></label>
                        <div class="col-sm-10">
                            <input type="hidden" name="id" class="form-control" value="<%= kartuKeluarga.id %>">
                            <input type="text" name="id" class="form-control" value="<%= kartuKeluarga.id %>" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="kepalaKeluarga" class="col-sm-2 col-form-label"><b>Nama Kepala Keluarga</b></label>
                        <div class="col-sm-10">
                            <input type="text" name="kepalaKeluarga" class="form-control"
                                value="<%= kartuKeluarga.kepalaKeluarga %>" required>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Edit">
                </form>
            </div>
        </div>
        <!--  Content End  -->
</body>

</html>