<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kartu Keluarga</title>
</head>

<body>
    <!-- Navbar Start -->
    <%- include ('../layouts/navbar.ejs') %>
        <!-- Navbar End -->

        <!--  Content Start -->
        <div class="card m-5">
            <div class="card-header">
                <a href="/createKeluarga" role="button" class="btn btn-success m-2">Tambah Data</a>
            </div>
            <div class="card-body m-2">
                <h3>List Of Kartu Keluarga</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nama Kepala Keluarga</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% kartuKeluarga.forEach(kartuKeluarga=> { %>
                            <tr>
                                <td>
                                    <%= kartuKeluarga.id %>
                                </td>
                                <td>
                                    <%= kartuKeluarga.kepalaKeluarga %>
                                </td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <form action="/editKeluarga/<%= kartuKeluarga.id %>" method="get">
                                            <button type="submit" class="btn btn-warning">Edit</button>
                                        </form>
                                        <form action="/hapusKK/<%= kartuKeluarga.id %>" method="post"
                                            onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?');">
                                            <button type="submit" class="btn btn-danger">Hapus</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <!--  Content End -->
</body>

</html>